 .u-section-1 {
  min-height: 961px;
  background-image: none;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 587px);
  height: 800px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
  height: 551px;
  width: 1010px;
  object-position: 0% 50%;
  margin: -712px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-wrap-1 {
  width: 977px;
  margin: -190px calc(((100% - 1140px) / 2) + 60px) 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 524px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 309px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 10px 57px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 69px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 414px;
  background-image: url("../images/ww.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 923px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 587px);
  }

  .u-section-1 .u-image-1 {
    height: 526px;
    width: 848px;
    margin-top: -720px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 876px;
    margin-top: -218px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 42px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 286px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-1 .u-image-2 {
    min-height: 398px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 906px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 587px);
  }

  .u-section-1 .u-image-1 {
    height: 446px;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 663px;
    margin-top: -138px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 190px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-1 .u-image-2 {
    min-height: 305px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1486px;
  }

  .u-section-1 .u-shape-1 {
    width: 437px;
    height: 1337px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
    width: 540px;
    margin-top: -1257px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 439px;
    margin-top: -47px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1254px;
  }

  .u-section-1 .u-shape-1 {
    width: 278px;
    height: 1106px;
  }

  .u-section-1 .u-image-1 {
    height: 211px;
    width: 340px;
    margin-top: -1026px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 309px;
    margin-top: -36px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-1 .u-image-2 {
    min-height: 376px;
  }
}