 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 58px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 748px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 748px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px 142px;
}

.u-section-1 .u-image-1 {
  height: 492px;
  object-position: 50% 39.72%;
  width: 328px;
  margin: 0 85px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 71px 0 0;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 470px;
    width: 313px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}