.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-group-1 {
  width: 889px;
  min-height: 368px;
  background-image: none;
  margin: 60px 30px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-1 .u-text-1 {
  margin-top: 62px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
  padding: 10px 60px 10px 59px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 249px 0 auto;
  padding: 10px 60px 10px 59px;
}

.u-section-1 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("../images/ww.jpg");
  background-position: 50% 50%;
  margin: -307px auto 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-group-1 {
    width: 763px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-group-1 {
    width: 577px;
    min-height: 426px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }

  .u-section-1 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -93px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-1 .u-group-1 {
    width: 466px;
    min-height: 446px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 109px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-group-1 {
    width: 309px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 285px;
    width: 285px;
    margin-top: -110px;
  }
}